<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 The Evolution X Project
     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:sharedUserId="android.uid.system"
          package="com.crystal.safucknet"
          android:versionCode="2"
          android:versionName="2.0" >

    <application
        android:label="@string/app_name"

        android:theme="@style/Theme.SubSettingsBase"
        android:exported="true">

        <!-- Safucknet activity -->
        <activity
            android:name=".SafucknetActivity"
            android:label="@string/safucknet_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
